.app-container {
  text-align: center;
}

.Head .MuiTypography-h4 {
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .Head .MuiTypography-h4 {
    font-size: 1.5rem;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }
  button {
    margin: 5px;
  }
  .locations-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}


.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  -webkit-animation: App-logo-spin infinite 20s linear; /* Safari and Chrome */
  animation: App-logo-spin infinite 20s linear;
}
